@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
}

html {
  background-color: whitesmoke;
}

/* ---------------------------------- fonts --------------------------------- */
.body {
  font-size: "Lato", sans-serif;
}

.bella {
  width: 50px;
  height: 50px;
  transition: all 1.5s ease-in-out;
}

.header {
  color: black;
  opacity: 75%;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.bella:hover {
  transform: translateX(600px);
}

.footer-container {
  color: black;
  font-family: "Hubballi", cursive;
  font-size: 75%;
  padding-top: 25px;
  border: 1px solid #ffb6c1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style: none;
  color: black;
}

.list {
  color: black;
  margin-top: 30px;
  padding-bottom: 2px;
}

.redes {
  display: flex;
  justify-content: right;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.phone {
  width: 30px;
  height: 30px;
}

.instagram {
  width: 30px;
  height: 30px;
}

.facebook {
  width: 30px;
  height: 30px;
}

.form-row {
  transform: scale(4);
}

p {
  font-family: "Lato", sans-serif;
}

.presentacion {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 150%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: initial;
  margin: 20px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  transition: all 0.9s ease-in;
}

h1:hover {
  transform: translateX(200px);
}

.photo {
  width: 250px;
  height: 250px;
}

.paragraph {
  font-size: 80%;
  display: flex;
  justify-content: space-between;
}

.article {
  background-color: whitesmoke;
  border: 0px solid #fdddca;
  padding: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.text {
  background-color: whitesmoke;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 120%;
  margin-top: 3%;
}

.servicios {
  padding: 1px;
  background-color: whitesmoke;
  border-top: 1px solid #ffb6c1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: initial;
  display: grid;
  grid-template-columns: auto;
}

.boton {
  border-radius: 6px;
  padding: 0%;
  width: 120px;
  height: 20px;
  margin: 50px auto;
  background-color: #ffb6c1;
  transition: all 2s;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 55px;
  align-items: center;
  flex-direction: column-reverse;
  color: black;
  font-weight: bold;
}

.a {
  color: black;
  text-decoration: none;
}

.boton:hover {
  transform: scale(1.1);
}

.desayuno {
  width: 800px;
  height: 150px;
}

/* ------------------------------- formulario ------------------------------- */
h2 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
}

.speaker-form {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.form-row {
  margin-bottom: 1px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text],
.form-row input[type=email] {
  background-color: #fff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row .instructions {
  color: #dbdbdb;
  margin-bottom: 30px;
  font-size: 14px;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #7e7b52;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #fdddca;
}

.form-row button:active {
  background-color: #dbdbdb;
}

/* ----------------------------- fin formulario ----------------------------- */
.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service .serv-desayuno {
  font-family: "Lato", sans-serif;
}

.boton-des {
  border-radius: 6px;
  padding: 0%;
  width: 120px;
  height: 20px;
  margin: 50px auto;
  background-color: #ffb6c1;
  transition: all 2s;
  display: flex;
  padding-bottom: 55px;
  color: black;
  font-weight: bold;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.service {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 969px) {
  body {
    background-color: whitesmoke;
  }
}
@media print {
  body {
    background-color: whitesmoke;
  }
}
@media all and (max-width: 768px) {
  body {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
