* {
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke
}
html {
    background-color: whitesmoke
}

/* ---------------------------------- fonts --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import 'componentes/header';
@import 'componentes/footer';
@import 'base/mixins';
@import 'componentes/article';
@import 'componentes/formulario';
@import 'componentes/servicios';


@media screen and (min-width: 969px) {
    body {
        background-color: whitesmoke;
    }
}


@media print {
    body {
        background-color: whitesmoke;
    }
}
@media all and (max-width: 768px) {
    body {
        justify-content: space-around;
    }
}