
.service { display: grid;
    grid-template-columns: 1fr 1fr;
    .serv-desayuno {
        font-family: 'Lato', sans-serif;
        .img-desayuno { width: 50px;
            height: 50px;
            
            
        }
    }
}